$baseWidth: 750px !default;
@function bar($px, $base-width:0) {
    $width: if(unitless($base-width), $baseWidth, $base-width);
    @return $px*10/$width * 1rem;
}

.home{
    position: relative;
    width: bar(750px);
    height: bar(1206px);
    .home-btn1,
    .home-btn2 {
        width: bar(158px);
        position: absolute;
        top: bar(975px);
        left: bar(304px);
        z-index: 2;
    }
    .home-btn2 {
        display: none;
    }
    .play-btn {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        width: bar(158px);
        height: bar(158px);
        background: transparent;
        position: absolute;
        top: bar(975px);
        left: bar(304px);
        z-index: 3;
    }
}
